{% extends "dynamic.html" %}

{% block toolbar %}
{% call super() %}
<a href="../{{ id }}.html">View</a>
{% endblock toolbar %}

{% block content %}
<dl>
    <dt>Name</dt>
    <dd>
        {{ name_partial | safe }}
    </dd>
    <dt>Photo</dt>
    <dd>
        {{ photo_partial | safe }}
    </dd>
    <dt>Contacts</dt>
    <dd>
        {{ contact_partial | safe }}
    </dd>
    {% match typ %}
    {% when dto::EntityType::Person %}
    <dt>Tenures</dt>
    <dd>
        {{ tenure_partial | safe }}
    </dd>
    {% endwhen %}
    {% when dto::EntityType::Office %}
    {% endwhen %}
    {% endmatch %}
</dl>
{% endblock content %}