{% extends "base.html" %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" crossorigin="anonymous"></script>
<style>
    label {
        font-weight: bold;
    }
</style>

<dl>
    <dt>Name</dt>
    <dd>
        {% block name %}
        <div hx-target="this" hx-swap="outerHTML">
            <div>{{ name }}</div>
            <button hx-get="/{{ typ }}/{{ id }}/name/edit">
                Edit
            </button>
        </div>
        {% endblock %}
    </dd>
    <dt>Photo</dt>
    <dd>
        {% block photo %}
        <div hx-target="this" hx-swap="outerHTML">
            {% if let Some(photo) = photo %}
            <div><label>URL</label>: <a href="{{ photo.url }}" target="_blank">{{ photo.url }} ↗</a></div>
            <div>
                <label>Attribution</label>:
                {% if let Some(attribution) = photo.attribution %}
                {{ attribution }}
                {% else %}
                No attribution available
                {% endif %}
            </div>
            <button hx-get="/{{ typ }}/{{ id }}/photo/edit">Edit</button>
            {% else %}
            <div>No photo available.</div>
            <button hx-get="/{{ typ }}/{{ id }}/photo/edit">Add</button>
            {% endif %}
        </div>
        {% endblock %}
    </dd>
</dl>
{% endblock content %}