<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.title }}</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <link rel="stylesheet" href="{{ page.base }}static/style.css">
    {% block scripts %}
    {% endblock scripts %}
  </head>
  <body>
    <header>
      <div class="logo">
        <b><a href="{{ config.base_url }}">{{ config.title }}</a></b>
      </div>
      <div class="toolbar">
        {% block toolbar %}
        {% if page.dynamic %}
          <a href="/new/person">New Person</a>
          <a href="/new/office">New Office</a>
        {% endif %}
        {% endblock toolbar %}
      </div>
    </header>
    {% block content %}{% endblock content %}
    <footer>
      <hr/>
      <div class="updated">
        {% block updated %}{% endblock updated %}.
      </div>
      <div class="attribution">
        Made with <span aria-label="Love" style="color: #f43f5e">&hearts;</span>
        in Chennai by
        <a href="https://arunkd13.github.io" target="_blank">arunkd13</a><br>
      </div>
    </footer>
  </body>
</html>
