{% extends "entity.html" %}

{% import "macros.html" as macros %}

{% block toolbar %}
{% call super() %}
{% if page.dynamic %}
  <a href="{{person.id}}/edit">Edit</a>
{% endif %}
{% endblock toolbar %}

{% block content %}
<style>
  main {
    display: grid;
    column-gap: 1em;
    row-gap: 0.5em;
    grid-template-areas:
      "toolbar"
      "title"
      "photo"
      "offices"
      "contacts"
      "subordinates"
      "past-tenures"
      "sources";
    margin-bottom: 1em;
  }

  @media (min-width: 40em) {
    main {
      grid-template-columns: 1fr 3fr;
      grid-template-rows: min-content min-content min-content 1fr auto auto;
      grid-template-areas:
        "toolbar toolbar"
        "photo title"
        "photo offices"
        "photo contacts"
        "subordinates subordinates"
        "past-tenures past-tenures"
        "sources sources";
    }
  }
</style>
<main>
  <div class="photo">
    {% if let Some(photo) = photo %}
      {% call macros::render_photo(photo=photo, alt=person.name) %}
    {% else if let Some(offices) = offices %}
      {% if offices.len() > 0 %}
        {% if let Some(office_photo) = offices[0].photo %}
          {% call macros::render_photo(photo=office_photo, alt=person.name) %}
        {% endif %}
      {% endif %}
    {% else %}
      {% call macros::render_photo(photo=config.defaults.photo, alt=person.name) %}
    {% endif %}
  </div>
  <div class="title">
    <h2>
      {{ person.name }}
      {% if let Some(contacts) = contacts %}
      {% call macros::render_ext_links(links=contacts) %}
      {% endif %}
    </h2>
    <hr />
  </div>
  <div class="offices">
    {% if let Some(offices_vec) = offices %}
    <dl class="office-list">
      {% for office in offices_vec %}
      <dt>
        {% call macros::render_office(id=office.office.id, name=office.office.name) %}
        {% if let Some(office_contacts) = office.contacts %}
        {% call macros::render_ext_links(links=office_contacts) %}
        {% endif %}
      </dt>
      <dd>
        {% if let Some(office_contacts) = office.contacts %}
        {% call macros::render_contacts(contacts=office_contacts) %}
        {% endif %}
        {% if let Some(office_supervisors) = office.supervisors %}
        {% call macros::render_supervisors(officers=office_supervisors) %}
        {% endif %}
        {% endfor %}
    </dl>
    {% endif %}
  </div>
  <div class="contacts">
    {% if let Some(contact_map) = contacts %}
    <hr />
    {% call macros::render_contacts(contacts=contact_map) %}
    {% endif %}
  </div>
  <div class="subordinates">
    {% if let Some(offices_vec) = offices %}
    <hr />
    <dl>
      {% for office in offices_vec %}
      {% if let Some(office_subordinates) = office.subordinates %}
      <dt>{{ office.office.name }}</dt>
      <dd>
        {% call macros::render_subordinates(officers=office_subordinates) %}
      </dd>
      {% endif %}
      {% endfor %}
    </dl>
    {% endif %}
  </div>

  <div class="past-tenures">
    {% if let Some(past_tenures_vec) = past_tenures %}
    <hr />
    <dl>
      <dt>Past Tenures</dt>
      <dd>
        <ul>
          {% for tenure in past_tenures_vec %}
          <li>{% call macros::render_office(id=tenure.office.id, name=tenure.office.name) %}, <em>{{ tenure.start }} to {{
              tenure.end }}</em></li>
          {% endfor %}
        </ul>
      </dd>
    </dl>
    {% endif %}
  </div>
  <div class="sources">
    {% if let Some(sources) = sources %}
    <hr>
    <details>
      <summary>Sources</summary>
      <ul>
        {% for url in sources %}
        <li><a href="{{ url }}">{{ url }}</a></li>
        {% endfor %}
      </ul>
    </details>
    {% endif %}
  </div>
</main>
{% endblock content %}
