{% extends "entity.html" %}

{% import "macros.html" as macros %}

{% block toolbar %}
{% call super() %}
{% if page.dynamic %}
  <a href="{{person.id}}/edit">Edit</a>
{% endif %}
{% endblock toolbar %}

{% block content_title %}
    <h2>
      {{ person.name }}
      {% if let Some(contacts) = contacts %}
      {% call macros::render_ext_links(links=contacts) %}
      {% endif %}
    </h2>
    <hr />
{% endblock content_title %}

{% block content_left %}
  <div class="photo">
    {% if let Some(photo) = photo %}
      {% call macros::render_photo(photo=photo, alt=person.name) %}
    {% else if let Some(offices) = offices %}
      {% if offices.len() > 0 %}
        {% if let Some(office_photo) = offices[0].photo %}
          {% call macros::render_photo(photo=office_photo, alt=person.name) %}
        {% endif %}
      {% endif %}
    {% else %}
      {% call macros::render_photo(photo=config.defaults.photo, alt=person.name) %}
    {% endif %}
  </div>
{% endblock content_left %}

{% block content_right %}
  <div class="offices">
    {% if let Some(offices_vec) = offices %}
    <dl class="office-list">
      {% for office in offices_vec %}
      <dt>
        {% call macros::render_office(id=office.office.id, name=office.office.name) %}
        {% if let Some(office_contacts) = office.contacts %}
        {% call macros::render_ext_links(links=office_contacts) %}
        {% endif %}
      </dt>
      <dd>
        {% if let Some(office_contacts) = office.contacts %}
        {% call macros::render_contacts(contacts=office_contacts) %}
        {% endif %}
        {% if let Some(office_supervisors) = office.supervisors %}
        {% call macros::render_supervisors(officers=office_supervisors) %}
        {% endif %}
        {% endfor %}
    </dl>
    {% endif %}
  </div>
  <div class="contacts">
    {% if let Some(contact_map) = contacts %}
    <hr />
    {% call macros::render_contacts(contacts=contact_map) %}
    {% endif %}
  </div>
{% endblock content_right %}

{% block content_bottom %}
  <div class="subordinates">
    {% if let Some(offices_vec) = offices %}
    <hr />
    <dl>
      {% for office in offices_vec %}
      {% if let Some(office_subordinates) = office.subordinates %}
      <dt>{{ office.office.name }}</dt>
      <dd>
        {% call macros::render_subordinates(officers=office_subordinates) %}
      </dd>
      {% endif %}
      {% endfor %}
    </dl>
    {% endif %}
  </div>

  <div class="past-tenures">
    {% if let Some(past_tenures_vec) = past_tenures %}
    <hr />
    <dl>
      <dt>Past Tenures</dt>
      <dd>
        <ul>
          {% for tenure in past_tenures_vec %}
          <li>
            {% call macros::render_office(id=tenure.office.id, name=tenure.office.name) %},
            <em>{{ tenure.start }} to {{ tenure.end }}</em>
            </li>
          {% endfor %}
        </ul>
      </dd>
    </dl>
    {% endif %}
  </div>
{% endblock content_bottom %}
