<div hx-target="this" hx-swap="outerHTML" hx-get="/{{ typ }}/{{ id }}/name" hx-trigger="entity_updated from:body">
    {% if let Some(error) = error %}
    <div class="error" style="color: red;">{{ error }}</div>
    {% endif %}
    <div>{{ name }}</div>
    <button hx-get="/{{ typ }}/{{ id }}/name/edit">
        Edit
    </button>
    {% if deletable %}
    <button hx-post="/{{ typ }}/{{ id }}/name/delete" hx-confirm="Are you sure you want to delete this entity? This cannot be undone.">
        Delete
    </button>
    {% endif %}
</div>