{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block toolbar %}
{% call super() %}
{% endblock toolbar %}

{% block content %}
<main>
    <style>
        .content-top {
            display: grid;
            column-gap: 1em;
            row-gap: 0.5em;
            grid-template-areas:
                "content-title"
                "content-left"
                "content-right";
            margin-bottom: 1em;
        }

        @media (min-width: 40em) {
            .content-top {
                grid-template-columns: 1fr 3fr;
                grid-template-rows: min-content 1fr;
                grid-template-areas:
                    "content-left content-title"
                    "content-left content-right"
            }
        }

        div.toolbar {
            grid-area: toolbar;
        }

        div.content-title {
            grid-area: content-title;
        }

        div.content-left {
            grid-area: content-left;
        }

        div.content-right {
            grid-area: content-right;
        }
    </style>
    <div class="content-top">
        <div class="content-title">
            {% block content_title %}
            {% endblock content_title %}
        </div>
        <div class="content-left">
            {% block content_left %}
            {% endblock content_left %}
        </div>
        <div class="content-right">
            {% block content_right %}
            {% endblock content_right%}
        </div>
    </div>
    {% block content_bottom %}
    {% endblock content_bottom %}

    <div class="sources">
        {% if let Some(sources) = sources %}
        <hr>
        <details>
            <summary>Sources</summary>
            <ul>
                {% for url in sources %}
                <li><a href="{{ url }}">{{ url }}</a></li>
                {% endfor %}
            </ul>
        </details>
        {% endif %}
    </div>
</main>
{% endblock content %}

{% block updated %}
{% if let Some(commit_date) = metadata.commit_date %}
Last updated on {{ commit_date }}
{% else %}
Local version
{% endif %}
{% endblock updated %}