{% extends "base.html" %}
{% block content %}

This is an attempt at collating the contact information and power structure of
the people who serve and govern India.

We are just starting out and this site will likely be under development for a long time,
before it becomes practically usable. If you are interested in joining, checkout
the <a href="https://github.com/arunkd13/directory-gov-in">project source code</a>.

<style>
    div.metric {
	    text-align: center;
    }
    div.search {
        margin: 2em;
        display: grid;
        place-items: center;
    }
    div.field label {
        font-weight: bold;
        margin-right: 1em;
    }
</style>

  <hr/>

  <div class="metric">
	  Tracking <b>{{ persons }}</b> persons across <b>{{ offices }}</b> offices.
    <p>
    Start with <a href="person/droupadm.html">Droupadi Murmu</a>, President of India
    </p>
  </div>

<!--
<script src="../static/elasticlunr.min.js"></script>
<div class="search">
    <div class="field">
        <label for="searchField">Search</label>
        <input type="search" placeholder="Try entering 'President of India'" id="searchField" />
    </div>

    <div>
        <ol id="searchResults" />
    </div>

    <div id="noResultsFound" style="display: none">
        <p>No results found.</p>
    </div>
</div>
<script>
(function (window, document) {
  "use strict";

  const search = (e) => {
    const results = window.searchIndex.search(e.target.value, {
      bool: "OR",
      expand: true,
    });

    const resEl = document.getElementById("searchResults");
    const noResultsEl = document.getElementById("noResultsFound");

    resEl.innerHTML = "";
    if (results) {
      noResultsEl.style.display = "none";
      results.map((r) => {
        const { id, title, description } = r.doc;
        const el = document.createElement("li");
        resEl.appendChild(el);

        const item = document.createElement("item");
        el.appendChild(item);

        const a = document.createElement("a");
        a.setAttribute("href", id);
        a.textContent = title;
        item.appendChild(a);

        if (description) {
          const span = document.createElement("span");
          span.textContent = " | " + description;
          el.appendChild(span);
        }
      });
    } else {
      noResultsEl.style.display = "block";
    }
  };

  fetch("../static/search_index.en.json").then((response) =>
    response.json().then((rawIndex) => {
      window.searchIndex = elasticlunr.Index.load(rawIndex);
      document.getElementById("searchField").addEventListener("input", search);
    })
  );
})(window, document);
</script>
-->

{% endblock content %}

