{% macro render_contact(key, value) %}
    {% if key == "address" %}
        {{ value }}
    {% elif key == "phone" %}
        {% for item in value %}
            <a href="tel:{{ item }}">{{ item }}</a><br>
        {% endfor %}
    {% elif key == "email" %}
        <a href="mailto:{{ value }}">{{ value }}</a>
    {% elif key == "website" %}
        {{ macros::render_url(url=value) }}
    {% elif key == "wikipedia" %}
        <a href="https://en.wikipedia.org/wiki/{{ value }}">{{ value }}</a>
    {% elif key == "x" %}
        <a href="https://x.com/{{ value }}">@{{ value }}</a>
    {% elif key == "facebook" %}
        <a href="https://www.facebook.com/{{ value }}">{{ value }}</a>
    {% elif key == "instagram" %}
        <a href="https://www.instagram.com/{{ value }}">{{ value }}
    {% elif key == "youtube" %}
        <a href="https://www.youtube.com/{{ value }}">{{ value }}</a>
    {% elif key == "wikidata" %}
        <a href="https://www.wikidata.org/wiki/{{ value }}">{{ value }}</a>
    {% endif %}
{% endmacro render_contact %}

{% macro render_contacts(contacts) %}
    <dl class="contact-list">
      {% for key, value in contacts %}
        {% if value %}
        <div class="dl-single-line">
          <dt>{{ config.icons[key] | safe }}</dt>
          <dd>{{ macros::render_contact(key=key, value=value) }}</dd>
        </div>
        {% endif %}
      {% endfor %}
    </dl>
{% endmacro render_contacts %}

{% macro render_supervisors(officers) %}
    <dl>
      {% for key, value in officers %}
        {% if value %}
          {% set label = config.labels.supervisors[key] %}
          <div class="dl-single-line">
              <dt>{{ label }} </dt>
              <dd>{{ macros::render_officer(officer=value) }}</dd>
          </div>
        {% endif %}
      {% endfor %}
    </dl>
{% endmacro render_supervisors %}

{% macro render_subordinates(officers) %}
  <dl class="backlink-list">
    {% for key, value in officers %}
      {% if value %}
      {% set label = config.labels.subordinates[key] %}
        <dt>{{ label }} ({{ value | length }})</dt>
        <dd>
          <ul>
            {% for item in value %}
              <li>{{ macros::render_officer(officer=item) }}</li>
            {% endfor %}
          </ul>
        </dd>
      {% endif %}
    {% endfor %}
  </dl>
{% endmacro render_subordinates %}

{% macro render_url(url) %}
    <a href="{{ url}}">{{ url }}</a>
{% endmacro render_url %}

{% macro render_officer(officer) %}
    {% if officer.person %}
        {{- macros::render_person(person=officer.person) -}},
    {% endif %}
    {{ macros::render_office(id=officer.office_id, name=officer.office_name) }}
{% endmacro render_officer %}

{%- macro render_person(person) -%}
    <a href="{{ macros::render_link_id(type='person', id=person.id) }}">{{ person.name }}</a>
{%- endmacro render_person -%}

{%- macro render_office(id, name) -%}
    <a href="{{ macros::render_link_id(type='office', id=id) }}">{{ name }}</a>
{%- endmacro render_office -%}

{% macro render_photo(photo, alt) %}
    {% set url = photo.url %}
    {% set attribution = photo.attribution %}
    <figure>
            <img src="{{ url }}" alt="{{ alt }}" />
        {% if attribution %}
            <figcaption title="{{ attribution }}">
                Image by {{ attribution }}
            </figcaption>
        {% endif %}
    </figure>
{% endmacro photo %}

{% macro link_page(page) %}
    <a href="{{ page.permalink }}">{{ page.title }}</a>
    {%- set term_name = page.path | trim_start_matches(pat="/") %}
    {%- if term_name is starting_with("person/") -%}
    <span>, {{ page.description }}</span>
    {% else %}
        {% if page.description %}
            ({{ page.description }})
        {% endif %}
    {% endif %}
{% endmacro link_page %}

{% macro link_office(id, name) %}
    {% set page_path = term ~ '.md' %}
    {% set page = get_page(path = page_path) %}
    {{ macros::link_page(page=page) }}
{% endmacro link_office %}

{% macro render_link_id(type, id) %}
    {{- page.base ~ type ~ "/" ~ id ~ ".html" -}}
{% endmacro render_link_id %}
