{% macro render_contact(key, value) %}
    {% if key == "address" %}
        {{ value }}
    {% elif key == "phone" %}
        {% for item in value %}
            <a href="tel:{{ item }}">{{ item }}</a><br>
        {% endfor %}
    {% elif key == "email" %}
        <a href="mailto:{{ value }}">{{ value }}</a>
    {% elif key == "website" %}
        {{ macros::render_url(url=value) }}
    {% elif key == "wikipedia" %}
        <a href="https://en.wikipedia.org/wiki/{{ value }}">{{ value }}</a>
    {% elif key == "x" %}
        <a href="https://x.com/{{ value }}">@{{ value }}</a>
    {% elif key == "facebook" %}
        <a href="https://www.facebook.com/{{ value }}">{{ value }}</a>
    {% elif key == "instagram" %}
        <a href="https://www.instagram.com/{{ value }}">{{ value }}
    {% elif key == "youtube" %}
        <a href="https://www.youtube.com/{{ value }}">{{ value }}</a>
    {% endif %}
{% endmacro render_contact %}

{% macro render_url(url) %}
    <a href="{{ url}}">{{ url }}</a>
{% endmacro render_url %}

{% macro render_officer(officer) %}
    {% if officer.person %}
        {% set link = macros::link_id(type='person', id=officer.person.id) %}
        <a href="{{ link }}">{{ officer.person.name }}</a>,
    {% endif %}
    {{ officer.office_name }}
{% endmacro render_officer %}

{% macro render_photo(photo, alt) %}
    {% if photo %}
        {% set url = photo.url %}
        {% set attribution = photo.attribution %}
    {% else %}
        {% set url = "https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg" %}
    {% endif %}
    <style>
    </style>
    <figure >
        <div class="photo-bg">
            <img src="{{ url }}" alt="{{ alt }}" />
        </div>
        {% if attribution %}
            <figcaption title="{{ attribution }}">
                Image by {{ attribution }}
            </figcaption>
        {% endif %}
    </figure>
{% endmacro photo %}

{% macro link_page(page) %}
    <a href="{{ page.permalink }}">{{ page.title }}</a>
    {%- set term_name = page.path | trim_start_matches(pat="/") %}
    {%- if term_name is starting_with("person/") -%}
    <span>, {{ page.description }}</span>
    {% else %}
        {% if page.description %}
            ({{ page.description }})
        {% endif %}
    {% endif %}
{% endmacro link_page %}

{% macro link_office(id, name) %}
    {% set page_path = term ~ '.md' %}
    {% set page = get_page(path = page_path) %}
    {{ macros::link_page(page=page) }}
{% endmacro link_term %}

{% macro link_id(type, id) %}
    {{ "../" ~ type ~ "/" ~ id ~ ".html"}}
{% endmacro link_id %}
