{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block content %}
<style>
  div.maintenance {
    grid-area: maintenance;
  }
  div.photo {
    grid-area: photo;
  }

  div.title {
    grid-area: title;
  }

  div.offices {
    grid-area: incumbent;
  }

  div.contacts {
    grid-area: contacts;
  }

  div.quondams {
    grid-area: quondams;
  }

  div.sources {
    grid-area: sources;
  }

  main {
    display: grid;
    column-gap: 1em;
    row-gap: 0.5em;
    grid-template-areas:
      "maintenance"
      "title"
      "photo"
      "contacts"
      "quondams"
      "sources";
    margin-bottom: 1em;
  }
  @media (min-width: 40em) {
    main {
      grid-template-columns: 1fr 3fr;
      grid-template-rows: min-content min-content min-content 1fr auto auto;
      grid-template-areas:
        "maintenance maintenance"
        "photo title"
        "photo contacts"
        "quondams quondams"
        "sources sources";
    }
  }
  .dl-single-line {
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 0.5em;
  }
  
  .photo figure div.photo-bg {
      background-color: lightgray;
      padding: 0.75em;
      display: inline-block;
  }
  .photo figure {
    display: grid;
    grid-template-columns: 1fr;
  }
  .photo figure div.photo-bg img {
      width: 12em;
      margin: 0em;
  }
  .photo figure figcaption {
    padding-inline: 1em;
    font-size: x-small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  dl.contact-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5em;
  }
  dl.contact-list .dl-single-line dt svg {
      width: 1.3em;
      height: 1.3em;
      vertical-align: -0.125em;
  }
</style>
<main>
  <div class="maintenance">
    {% if metadata.maintenance %}
    {% set maintenance = metadata.maintenance %}
    <blockquote>
      <dl class="dl-single-line">
        <dt>🚧</dt>
        <dd>
          <p>
            {% if maintenance.incomplete %}
                This page is incomplete.
            {% endif %}
          </p>
          <p>
            Please consider sending a <a href="https://en.wikipedia.org/wiki/Fork_and_pull_model">PR</a> at
            <a href="{{ config.source_url }}">{{ config.source_url | trim_start_matches(pat="https://") }}</a>
          </p>
        </dd>
      </dl>
    </blockquote>
    {% endif %}
  </div>
  <div class="photo">
    {% if photo %}
      {{ macros::render_photo(photo=photo, alt=office.name) }}
    {% elif offices and (offices | length > 0) and offices[0].photo %}
      {{ macros::render_photo(photo=offices[0].photo, alt=office.name) }}
    {% else %}
      {{ macros::render_photo(photo=config.defaults.photo, alt=office.name) }}
    {% endif %}
  </div>
  <div class="title">
    <h2>{{ office.name }}</h2>
    {% if incumbent %}
      {{ macros::render_person(person=incumbent) }}
    {% endif %}
    <hr/>
  </div>
    
  </div>
  <div class="contacts">
    {% if contacts %}
      {{ macros::render_contacts(contacts=contacts) }}
    {% endif %}
  </div>

  <div class="quondams">
    {% if quondams %}
      <hr/>
      <dl>
        <dt>Quondam</dt>
        <dd><ul>
        {% for q in quondams %}
            <li>{{ macros::render_person(person=q.person) }}, <em>{{ q.start }} to {{ q.end }}</em></li>
        {% endfor %}
        </ul></dd>
      </dl>
    {% endif %}
  </div>
  <div class="sources">
    {% if page.extra.sources %}
    <hr>
    <details>
      <summary>Sources</summary>
      <ul>
        {% for url in page.extra.sources %}
          <li><a href="{{ url }}">{{ url }}</a></li>
        {% endfor %}
      </ul>
    </details>
    {% endif %}
  </div>
</main>
{% endblock content %}

{% block updated %}
  {% if metadata.updated %}
  Last updated on {{ metadata.commit_date | date(format="%d %B, %Y")}}
  {% else %}
  Local version
  {% endif %}
{% endblock updated %}
