{% extends "entity.html" %}

{% import "macros.html" as macros %}

{% block toolbar %}
{% call super() %}
{% if page.dynamic %}
  <a href="{{office.id}}/edit">Edit</a>
{% endif %}
{% endblock toolbar %}

{% block content_title %}
    <h2>
      {{ office.name }}
      {% if let Some(contacts) = contacts %}
      {% call macros::render_ext_links(links=contacts) %}
      {% endif %}
    </h2>
    {% if let Some(incumbent) = incumbent %}
    {% call macros::render_person(person=incumbent) %}
    {% if let Some(start) = incumbent.start %}
        <div class="tenure-date">from {{ start }}</div>
    {% endif %}
    {% endif %}
    <hr />
{% endblock content_title %}

{% block content_left %}
  <div class="photo">
    {% call macros::render_photo(photo=photo.clone().unwrap_or_default(), alt=office.name) %}
  </div>
{% endblock content_left %}

{% block content_right %}
  <div class="contacts">
    {% if let Some(contact_map) = contacts %}
    {% call macros::render_contacts(contacts=contact_map) %}
    {% endif %}
  </div>
  <div class="supervisors">
    {% if let Some(supervisors) = supervisors %}
    <hr>
    <dl>
      {% for (relation, office) in supervisors %}
      <div class="dl-single-line">
        <dt>{{ relation.forward_label() }}</dt>
        <dd>{% call macros::render_office(id=office.id, name=office.name) %}</dd>
      </div>
      {% endfor %}
    </dl>
    {% endif %}
  </div>
</div>
{% endblock content_right %}

{% block content_bottom %}
  <div class="quondams">
    {% if let Some(quondams) = quondams %}
    <hr />
    <dl>
      <dt>Quondam</dt>
      <dd>
        <ul>
          {% for q in quondams %}
          <li>{% call macros::render_person(person=q.person) %}, <em>{{ q.start }} to {{ q.end }}</em></li>
          {% endfor %}
        </ul>
      </dd>
    </dl>
    {% endif %}
  </div>
{% endblock content_bottom %}