{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block content %}
<script src="https://kit.fontawesome.com/ebcc86461e.js" crossorigin="anonymous"></script>

<style>
  div.maintenance {
    grid-area: maintenance;
  }
  div.photo {
    grid-area: photo;
  }

  div.title {
    grid-area: title;
  }

  div.contacts {
    grid-area: contacts;
  }

  div.links {
    grid-area: links;
  }

  div.backlinks {
    grid-area: backlinks;
  }

  div.sources {
    grid-area: sources;
  }

  main {
    display: grid;
    column-gap: 1em;
    row-gap: 0.5em;
    grid-template-areas:
      "maintenance"
      "title"
      "photo"
      "contacts"
      "links"
      "backlinks"
      "sources";
    margin-bottom: 1em;
  }
  @media (min-width: 40em) {
    main {
      grid-template-columns: 1fr 3fr;
      grid-template-rows: min-content min-content min-content 1fr auto auto;
      grid-template-areas:
        "maintenance maintenance"
        "photo title"
        "photo contacts"
        "photo links"
        "backlinks backlinks"
        "sources sources";
    }
  }
  .dl-single-line {
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 0.5em;
  }
  
  .photo figure div.photo-bg {
      background-color: lightgray;
      padding: 0.75em;
      display: inline-block;
  }
  .photo figure {
    display: grid;
    grid-template-columns: 1fr;
  }
  .photo figure div.photo-bg img {
      width: 12em;
      margin: 0em;
  }
  .photo figure figcaption {
    padding-inline: 1em;
    font-size: x-small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  dl.contact-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5em;
  }
</style>
<main>
  <div class="maintenance">
    {% if metadata.maintenance %}
    {% set maintenance = metadata.maintenance %}
    <blockquote>
      <dl class="dl-single-line">
        <dt>🚧</dt>
        <dd>
          <p>
            {% if maintenance.incomplete %}
                This page is incomplete.
            {% endif %}
          </p>
          <p>
            Please consider sending a <a href="https://en.wikipedia.org/wiki/Fork_and_pull_model">PR</a> at
            <a href="{{ config.base_url }}">{{ config.base_url | trim_start_matches(pat="https://") }}</a>
          </p>
        </dd>
      </dl>
    </blockquote>
    {% endif %}
  </div>
  <div class="photo">
    {% if offices | length > 0 %}
      {% set office_photo = offices[0].photo %}
    {% endif %}
    {{ macros::render_photo(photo=photo, office_photo=office_photo, alt=person.name) }}
  </div>
  <div class="title">
    <h2>{{ person.name }}</h2>
    {% if contacts %}
    <dl class="contact-list">
      {% for key, value in contacts %}
        {% if value %}
        <div class="dl-single-line">
          <dt><i class="{{ config.icons[key] }}"></i></dt>
          <dd>{{ macros::render_contact(key=key, value=value) }}</dd>
        </div>
        {% endif %}
      {% endfor %}
    </dl>
    {% endif %}
    <hr/>
  </div>
  <div class="contacts">
  {% for office in offices %}
    <h5>{{ office.name }}</h5>
    {% if office.contacts %}
    <dl class="contact-list">
      {% for key, value in office.contacts %}
        {% if value %}
        <div class="dl-single-line">
          <dt><i class="{{ config.icons[key] }}"></i></dt>
          <dd>{{ macros::render_contact(key=key, value=value) }}</dd>
        </div>
        {% endif %}
      {% endfor %}
    </dl>
    {% endif %}
    {% if office.supervisors %}
    <dl>
      {% for key, value in office.supervisors %}
        {% if value %}
          {% set label = config.labels.supervisors[key] %}
          <div class="dl-single-line">
              <dt>{{ label }} </dt>
              <dd>{{ macros::render_officer(officer=value) }}</dd>
          </div>
        {% endif %}
      {% endfor %}
    </dl>
    {% endif %}
  {% endfor %}
  </div>
  <div class="links">
  </div>
  {% if offices %}
  <div class="backlinks">
    <hr>
    {% for office in offices %}
    {% if office.subordinates %}
    <h5>{{ office.name }}</h5>
    <dl class="backlink-list">
      {% for key, value in office.subordinates %}
        {% if value %}
        {% set label = config.labels.subordinates[key] %}
          <dt>{{ label }} ({{ value | length }})</dt>
          <dd>
            <ul>
              {% for item in value %}
                <li>{{ macros::render_officer(officer=item) }}</li>
              {% endfor %}
            </ul>
          </dd>
        {% endif %}
      {% endfor %}
    </dl>
    {% endif %}
    {% endfor %}
  </div>
  {% endif %}

  <div class="sources">
    {% if page.extra.sources %}
    <hr>
    <details>
      <summary>Sources</summary>
      <ul>
        {% for url in page.extra.sources %}
          <li><a href="{{ url }}">{{ url }}</a></li>
        {% endfor %}
      </ul>
    </details>
    {% endif %}
  </div>
</main>
{% endblock content %}

{% block updated %}
  {% if metadata %}
  Last updated on {{ metadata.updated | date(format="%d %B, %Y")}}
  {% endif %}
{% endblock updated %}
