{% extends "dynamic.html" %}

{% block content %}
<div style="display: flex; justify-content: space-between; align-items: center;">
    <h2>Uncommitted</h2>
    {% if !changes.is_empty() %}
    <div>
        <button hx-post="/abandon" hx-confirm="Are you sure you want to abandon these changes? This action cannot be undone.">Abandon</button>
        <button hx-post="/commit" hx-confirm="Are you sure you want to commit these changes?">Commit</button>
    </div>
    {% endif %}
</div>
<ul>
    {% for change in changes %}
    <li>
        {% if change.removed %}
        {{ change.entity.name }} ({{ change.entity.id }})
        {% else %}
        <a href="{{ change.entity.typ }}/{{ change.entity.id }}.html">{{ change.entity.name }}</a>
        {% endif %}
        <ul>
            {% for diff in change.diffs %}
            <li>
                <code>{{ diff.key().field() }}</code>:
                {% match diff %}
                    {% when crate::record::RecordDiff::Added with (_, new_val) %}
                        <em>(added)</em> <code>{{ new_val }}</code>
                    {% when crate::record::RecordDiff::Changed with (_, old_val, new_val) %}
                        <code>{{ old_val }}</code> &rarr; <code>{{ new_val }}</code>
                    {% when crate::record::RecordDiff::Removed with (_, old_val) %}
                        <code>{{ old_val }}</code> <em>(removed)</em>
                {% endmatch %}
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
{% endblock content %}