{% extends "dynamic.html" %}

{% block content %}
<div style="display: flex; justify-content: space-between; align-items: center;">
    <h2>Uncommitted</h2>
    {% if !changes.is_empty() %}
    <button hx-post="/commit" hx-confirm="Are you sure you want to commit these changes?">Commit Changes</button>
    {% endif %}
</div>
<ul>
    {% for change in changes %}
    <li>
        [{{ change.change_type.as_str() }}]
        {% if change.change_type.as_str() == "Removed" %}
        {{ change.entity.name }}
        {% else %}
        <a href="{{ change.entity.typ }}/{{ change.entity.id }}.html">{{ change.entity.name }}</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock content %}